@{
    ViewData["Title"] = "Déconnexion réussie";
}

<h2>Vous êtes bien déconnecté !</h2>
<p>Merci de votre visite. À bientôt !</p>
<a href="@Url.Action("Login", "User")" class="btn btn-primary">Revenir à la page de connexion</a>
